.companyDashboard {
  display: flex;
}
.logoutbtn {
  height: 45px;
  max-width: 250px;
  min-width: 250px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 7rem;
  border-radius: 0px;
  background-color: black;
  color: #ffffff;
  cursor: pointer;
}
.logoutbtn:hover {
  height: 45px;
  width: 100%;
  border: 1px solid rgb(29, 29, 29);
  margin-top: 20px;
  border-radius: 0px;
  background-color: rgb(29, 29, 29);
  color: #ffffff;
}
.container {
  height: 100%;
  width: 100%;
}
.company_img_div {
  height: 200px;
  width: 100%;
}
