.footer {
  height: 30px;
  width: 100%;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer p {
  color: #ffffff;
}

.linkedinIcon {
  height: 20px;
  width: 20px;
  margin: 2px auto 2px 60rem;
  cursor: pointer;
}

.telegramIcon {
  height: 20px;
  width: 20px;
  margin: 2px auto 2px 2rem;
  cursor: pointer;
}

.instaIcon {
  height: 20px;
  width: 20px;
  margin: 2px auto 2px 2rem;
  cursor: pointer;
}
